# Αγνόησε τα κρυφά αρχεία με τα API Keys
.env

# Αγνόησε άχρηστα αρχεία συστήματος της Python
__pycache__/
*.pyc

# Αγνόησε το αρχείο του εκπαιδευμένου μοντέλου (είναι μεγάλο και θα το παράγει το train.py)
data.pth